.box-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.header-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 250px;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.input-form {
  border-radius: 6px;
  border: solid 1px #000;
  height: 26px;
  padding: 0 6px;
}

.combo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}