.box-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.header-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 250px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.button-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}